/*Logo BG Color*/
.bg_tobago{
	background-color: #4e382e;
}

.bg_lightsalmon{
	background-color: #FFA681;
}

/*Logo Color*/
.bg_japonica{
	background-color: #C5705F;
}

.bg_pancho{
	background-color: #E4B38C;
}

.bg_sandybeach{
	background-color: #F9D6B6;
}
.bg_blackrussian
{
	background-color: #14151c;
}

.txt_link_water{
	color: #ced4da;
}
.txt_mischka{
	color: #ADAFB1;
}

.txt_japonica{
	color: #C5705F;
}

.txt_pancho
{
	color: #E4B38C;
}